<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

  <main>
      <section class="section_main_img">
          <img src="ranger.png" alt="Ford Ranger">
      </section>
      <section class="section_main">
          <header class="header_img">
              <img src="ford.png" alt="Logo Ford">
          </header>
          <h1 class="boasvin_das">Boas-Vindas</h1>

          <div class="form-center">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          <img src="do-utilizador.png" alt="Ícone de usuário">
                      </div>
                  </div>
                  <input type="email" class="form-control" placeholder="Insira seu e-mail" required>
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          <img src="trancar.png" alt="Ícone de senha">
                      </div>
                  </div>
                  <input type="password" class="form-control" placeholder="Insira sua senha" required>
              </div>
          </div>

          <button class="btn-login">Entrar</button>
      </section>
  </main>
