*{
  font-family: Arial, Helvetica, sans-serif;
}
.header_img{
  display: flex;
  width: 20%;
  align-items: center;
 justify-content: center;
 position: fixed;
  top: 0;
  padding: 2%;
}
main{
  display: flex;

}
.section_main_img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_main{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(240, 240, 240)
}
section img{
  width: 60%;
}
.boasvin_das{
  display: flex;
  color:rgb(58, 199, 22);
}
button{
  display: flex;
  background-color: blue;
  color: white;
  width: 500px;
  height: 35px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-group-text{
  justify-content: center;
}
.input-group-text img{
  width: 15px;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
width: 500px;
}
.form-control{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-group-text{
  padding: .68rem .75rem;
}
.input-group{
  align-items: center;
}
